<fieldset>
  <legend>Plugin Settings</legend>
  <p>Get a <a href="http://www.google.com/recaptcha" target=_blank>recaptcha keypair</a> and enter it here:</p>
  <p>
    <label>Site Key</label><%= text_field_tag 'settings[recaptcha_site_key]', settings['recaptcha_site_key'] %>
  </p>
  <p>
    <label>Secret Key</label><%= text_field_tag 'settings[recaptcha_secret_key]', settings['recaptcha_secret_key'] %>
  </p>
</fieldset>
